@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Arial, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin:0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    padding: 50px 0px;
    text-align: center;
    color: white;
    background-color: black;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4vw
}

header p{
    font-family: var(--fonte1);
    font-size:0.5em;
}

a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover{
    color: moccasin;
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.2vw;
}

section p{
    padding-bottom: 2em;
    
}

section.normal{
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgb(107, 107, 107);
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.432);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.164);
    padding: 5px;
    display:inline-block;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    
}